body{
      background-repeat: no-repeat;  
     }
    
      .background-image{
  width: 100%;
height:100%;
}
.full-sign-up-content{
 
}

.box{
  background-color:white;
  width:300px;
  height:30px;
 border-radius:5px ;
}
.text{
  margin-bottom:8px;
  display:flex;
}

.row1{
display:flex;
justify-content: center;
align-items: center;
}
.row2{
  display:flex;
  margin-top:10px ;
 width:100%;
  justify-content: center;
  align-items:center;
}
.row3{
  width:100%;
  display:block;
}
.leftside{
  margin-right:30px;
  justify-content: center;
}
.boxx{
  display:grid;
  flex:1;
 
}

.acc{
  justify-content: center;
  display:flex;
  font-size: 30px;
  font-family: cursive;
}
.per{
  margin-top: 70px;
  justify-content: center;
  display:flex;
  font-size: 30px;
  font-family:cursive;
}

.diff box{
width:350px;
height:50px;
}
.row3{
display:flex;
}
.address-heading{
    margin-bottom: 8px; 
    margin-left:445px;

    }
    
    .address-box{
      border-radius:5px ;
      width:630px;
       height:30px;
     
    }
    .address-box-div{
display:flex;
justify-content: center;
padding-left: 30px;
    }
    .country{
height:35px;
flex:1;
width:300px;
border-radius: 5px;
    }
    
    .pin-code{
      height:30px;  
      width:300px;
      border-radius:5px;
    }
    .country-text{
     margin-bottom:8px;   
    
    }
    .address-left{
        display:flex;
    
    }
   .address-right{
   margin-left:30px;
   } 
   .submit{
    display:flex;
    justify-content: center;
    margin-top:50px;
    height:30px;

   }
   #submit-btn{
   padding-right:20px;
   padding-left:20px;
   }
   #signup{
   height:30px;
   width:100px;
   margin-top:30px;
   margin-bottom:30px;
   background-color: rgb(199, 197, 197);
box-shadow:2px 2px 2px black ;
   }
   #signup:hover{
    width:150px;
    height:50px;
   }
  #register{
    
    border:solid;
    border-color: black;
    margin:50px 210px;
    border-radius:10px;
    padding-bottom:25px;
  }